@import 'common.scss';

#greeting-container {
  max-width: 770px;
  margin: 35px auto 0;
  text-align: center; 
  font-size: 50px;
  font-weight: bold;
  align-self: center;
  text-shadow: $sublte-text-shadow;
}