@import "common.scss";

#todo-list {
  #todo-form {
    // TODO set a media query to max out the height
    input {
      width: 335px;
      padding: 7px 0;
      border: 0;
      border-bottom: 2px solid #ffffff;
      outline: 0;

      font-size: 22px;
      color: #ffffff;
      background: transparent;
    }

    button {
      @extend .common-button-small;
      margin-left: 15px;
    }
  }
}