#todo-list {
  input {
    width: 400px;
    padding: 7px 0;
    border: 0;
    border-bottom: 2px solid #a7a7a7;
    outline: 0;

    font-size: 22px;
    color: #4d4d4d;
    background: transparent;
  }
}