@import 'common.scss';

#world-clock-container {
  display: flex;
  justify-content: space-around;

  font-size: 18px;
  font-weight: bold;

  .clock{
    margin-left: 25px;
    text-shadow: $sublte-text-shadow;
  }
}